{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load allauth %}

{% block title_addition %} - {% trans "Confirm Email" %}{% endblock %}

{% block content %}
<div class="container-fluid container-top-margin-lg min-vh-100">
    <div class="row">
        <div class="col">
            <h2 class="text-uppercase">{% trans "Confirm Your Email" %}</h2>
            <hr class="heading-rule">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {% if confirmation %}
                {% if can_confirm %}
                    <p>
                        {% blocktrans with confirmation.email_address.email as email %}
                        Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is your email address.
                        {% endblocktrans %}
                    </p>
                    {% url 'account_confirm_email' confirmation.key as action_url %}
                    <form method="post" action="{{ action_url }}">
                        {% csrf_token %}
                        {{ redirect_field }}
                        <button type="submit" class="btn forward-button">
                            {% trans "Confirm Email" %}
                        </button>
                    </form>
                {% else %}
                    <p>
                        {% blocktrans %}Unable to confirm {{ email }} because it is already confirmed by a different account.{% endblocktrans %}
                    </p>
                {% endif %}
            {% else %}
                {% url 'account_email' as email_url %}
                <p>
                    {% blocktrans %}This email confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new email confirmation request</a>.{% endblocktrans %}
                </p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
