{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load allauth %}  <!-- Load allauth for necessary functionality -->

{% block title_addition %} - {% trans "Email Verification Sent" %}{% endblock %}
{% block content %}
<div class="container-fluid container-top-margin-lg content">
    <div class="row">
        <div class="col">
            <h2 class="text-uppercase">{% trans "Email Verification Sent" %}</h2>
            <hr class="heading-rule">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>{% blocktrans %}We have sent an email to you for
                verification. Please click on the link inside that email. If you do not see the verification email in your main inbox, check your spam folder. Otherwise
                contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
            <p class="mt-3">
                <a class="btn back-button w-100" href="{% url 'account_login' %}">{% trans "Back to Login" %}</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}

