{% extends "base.html" %}
{% block title_addition %} - Home{% endblock %}
{% load static %}

{% block content %}
<div class="container-fluid container-top-margin-lg">
    <div class="row">
        <!-- Image container -->
        <div class="col-12">
            <div class="home-image-container">
                <img src="media/logo.jpg" alt="Stall" class="home-image">
            </div>
        </div>

        <!-- Heading and text section -->
        <div class="col-12 text-section mt-5">
            <h1>Hi, I'm Ash!</h1>
            <p class="lead mb-0">Thank you for visiting my site and for your interest in supporting a small business.</p>
            <p class="lead mb-0">
                Please have look around my shop and see what events I'll be attending.
            </p>

            <div class="d-flex justify-content-center mt-4 mb-0">
                <a href="{% url 'shop' %}" class="btn home-page-button mx-2 text-light"><span>Visit the Shop</span></a>
                <a href="{% url 'events' %}" class="btn home-page-button mx-2 text-light"><span>Upcoming Events</span></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
