{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title_addition %} - Checkout{% endblock %}
{% load static %}

{% block content %}
<div class="container-fluid container-top-margin-lg content">
    <div class="row">
        <div class="col">
            <h2 class="text-dark text-uppercase">Checkout</h2>
            <hr class="heading-rule">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h4>Your Info</h4>
            <hr class="small-hr">
            <form action="{% url 'checkout' %}" method="POST" id="checkout-form">
                {% csrf_token %}
            
                <div class="mb-2">
                    {% if user.is_authenticated %}
                        {% if has_saved_address %}
                            <label for="use_profile_info"><small class="text-muted">Use saved info</small></label>
                            <input type="checkbox" id="use_profile_info" data-fetch-url="{% url 'user_profile:get_profile_info' %}">
                        {% else %}
                            <p><small>Please update your profile to use your saved info.</small></p>
                        {% endif %}
                    {% else %}
                        <p><small>Please 
                            <a href="{% url 'account_login' %}" class="dark-blue-link">login</a> 
                            or 
                            <a href="{% url 'account_signup' %}"class="dark-blue-link">create an account</a> 
                            to use a saved address and view order history.</small>
                        </p>
                    {% endif %}
                </div>
            
                <fieldset>
                    <legend class="fieldset_label small bold-font mb-3 w-auto">Personal Details</legend>
                    {{ order_form.first_name | as_crispy_field }}
                    {{ order_form.last_name | as_crispy_field }}
                    {{ order_form.email | as_crispy_field }} 
                    {{ order_form.phone_number | as_crispy_field }}
                </fieldset>
                
                <fieldset>
                    <legend class="fieldset_label small bold-font mb-3 w-auto">Delivery Details</legend>
                    {{ order_form.address_1 | as_crispy_field }}
                    {{ order_form.address_2 | as_crispy_field }}
                    {{ order_form.town | as_crispy_field }}
                    {{ order_form.county | as_crispy_field }}
                    {{ order_form.postcode | as_crispy_field }}
                    {{ order_form.country | as_crispy_field }}
                </fieldset>

                <fieldset>
                    <legend class="fieldset_label small bold-font mb-3 w-auto">Payment</legend>
                    <div class="mb-4" id="payment-info-box"></div>
                    <div class="mb-4 text-danger" id="payment-error-box" role="alert"></div>
                    <input type="hidden" value="{{ client_secret }}" name="client_secret">
                </fieldset>

                <div class="my-2">
                    <p>Total to pay: £{{ grand_total | floatformat:2 }}</p>
                </div>
            
                <div id="submit-button" class="mb-3">
                    <button type="submit" class="btn forward-button">Place Order</button>
                    <a href="{% url 'view_basket' %}" class="btn back-button ms-2">Back to basket</a>
                </div>
            </form>            
        </div>

        <div class="col-md-6">
            <h4>Your Basket</h4>
            <ul class="list-group">
                {% for item in basket_items %}
                    <li class="list-group-item">
                        <strong>{{ item.shop_item.name }}</strong> ({{ item.quantity }}) - £{{ item.shop_item.price }} each
                    </li>
                {% endfor %}
            </ul>
            <hr>
            <h4>Total Cost: £{{ grand_total | floatformat:2 }}</h4>
            {% if free_delivery_prompt > 1 %}
                <p>You need {{ free_delivery_prompt }} more items to qualify for free delivery.</p>
            {% elif free_delivery_prompt > 1 %}
                <p>You need {{ free_delivery_prompt }} more item to qualify for free delivery.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block post_load_js %}
    {{ block.super }}
    {{ stripe_public|json_script:"id_stripe_public" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'js/stripe_checkout_elements.js' %}"></script>
    <script src="{% static 'js/get_profile_info.js' %}"></script>
{% endblock %}
