:root {
    --blue: #0056b3;
    --green: #198754;
    --red: #dc3545;
    --dark: #212529;
}

html {
    height: 100%;
}

body {
    font-family: 'Quicksand', sans-serif;
}

.text-align-left {
    text-align: left;
}

.font-large {
    font-size: 1.5rem;
}

.heading-rule {
    width: 25%;
}

.small-hr {
    width: 15%;
}

.bold-font {
    font-weight: bold;
}

#nav-logo {
    height:40px;
    width: auto;
    border-radius: 5px;
}

/* Container to hold the background image */
.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Ensures no overflow from scaling */
    z-index: -1; /* Sends the background behind other content */
}

/* Background image element */
.home-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/media/stall.jpg') no-repeat center center;
    background-size: cover; /* Ensures the image covers the container */
    transform: scale(1); /* Initial scale */
    animation: scaleBackground 5s ease-in-out forwards; /* Apply scale animation */
}

/* Keyframes for scaling */
@keyframes scaleBackground {
    0% {
        transform: scale(1); /* Start at original size */
    }
    100% {
        transform: scale(1.1); /* Slightly expand the image */
    }
}

.navbar-toggler {
    background-color: #f8f9fa;
}

.dropdown-menu {
    background-color: #000;
}

.dropdown-menu a:hover,
.navbar-nav a:hover {
    background-color: #484747;
}

#delivery-banner {
    margin-top: 56px;
}

.container-top-margin {
    margin-top: 25px;
}

.container-top-margin-lg {
    margin-top: 80px;
}

#events_list_link {
    position: relative;
    z-index: 9999;
    text-decoration: none;
    color: var(--blue);
}

#events_list_link:hover {
    color: var(--green);
}

.carousel-caption {
    background-color: #000;
    border: 1px solid var(--green);
    border-radius: 5px;
}

#event-title {
    margin-top: 25px;
}

.event-description {
    padding: 10px;
}

.shop_card_img {
    width: 150px; /* Adjust the width as needed */
    height: 150px; /* Adjust the height as needed */
    object-fit: cover; /* Ensures the image maintains its aspect ratio and fills the dimensions */
    border-radius: 5px; /* Optional: Adds a subtle rounding to the corners */
}

/* Vertical alignment */
.align-middle {
    vertical-align: middle !important;  /* Ensures vertical centering */
}

/* Buttons */

.forward-button {
    background-color: var(--green); /* Green for action-forward buttons */
    color: #fff;
}

.forward-button:hover {
    background-color: #fff;
    color: var(--green);
    border: 1px solid var(--green);
}

.back-button {
    background-color: var(--dark);
    color: #fff;
}

.back-button:hover {
    background-color: #fff;
    color: var(--dark);
    border: 1px solid var(--dark);
}

.update-button {
    background-color: var(--blue); 
    color: white;
}

.update-button:hover {
    background-color: #fff;
    color: var(--blue);
    border: 1px solid var(--blue);
}

.delete-button {
    background-color: var(--red);
    color: white;
}

.delete-button:hover {
    background-color: #fff;
    color: var(--red);
    border: 1px solid var(--red);
}

/* Table styling */
.basket-table {
    border-collapse: separate;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #ddd;
}

.basket-item-link {
    text-decoration: none;
    color: var(--blue);
}

.basket-item-link:hover {
    color: var(--green);
}

.basket-img {
    max-width: 60px; /* Adjust size of images */
    height: auto;
    margin-right: 10px;
}

.success-container {
    width: 75%;
    margin-right: auto;
    border: 2px solid #000;
    border-radius: 5px;
}
