:root {
    --blue: #0056b3;
    --green: #198754;
    --red: #dc3545;
    --dark: #212529;
    --grey: #545454;
    --pink: #b32fba;
}

/* Various global styles  */

.text-align-left {
    text-align: left;
}

.font-large {
    font-size: 1.5rem;
}

.heading-rule {
    width: 25%;
}

.small-hr {
    width: 15%;
}

.bold-font {
    font-weight: bold;
}

.align-middle {
    vertical-align: middle !important;  
}

.dark-blue-link {
    text-decoration: none;
    color: var(--blue);
}

.dark-blue-link:hover {
    color: var(--green);
}

/* Page layout */

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Quicksand', sans-serif;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.content {
    flex-grow: 1; /* Ensures it takes up remaining space */
}

.container-top-margin {
    margin-top: 25px;
}

.container-top-margin-lg {
    margin-top: 80px;
}

/* Navbar */

#nav-logo {
    height:40px;
    width: auto;
    border-radius: 5px;
}

.navbar-toggler {
    background-color: #f8f9fa;
}

.dropdown-menu {
    background-color: #000;
}

.dropdown-menu a:hover,
.navbar-nav a:hover {
    background-color: #484747;
}

/* Footer */

.footer-wrapper {
    width: 100%;
}

.footer {
    width: 100%;
    position: sticky; 
    bottom: 0;
    left: 0;
}

#copyright-link {
    text-decoration: none;
}

#copyright-link:hover span {
    color: var(--pink)
}

/* Delivery banner */

#delivery-banner {
    margin-top: 56px;
}

/* Home page content  */

.home-image-container {
    margin: 0 auto; 
    max-height: 350px;
    width: 500px;
    overflow: visible; 
}


.home-image {
    max-height: 350px; 
    transform: scale(0.9); 
    animation: scaleBackground 3s ease-in-out forwards; 
    display: block; 
    object-fit: contain;
}

/*  Home page image animation */
@keyframes scaleBackground {
    0% {
        transform: scale(0.9); 
    }
    100% {
        transform: scale(1); 
    }
}

.text-section {
    margin-top: 20px; 
    text-align: center; 
}

/* Events page */

.event-image {
    max-height: 75px;
}

/* Shop */

.shop_card_img {
    width: 150px; 
    height: 150px; 
    object-fit: cover; 
    border-radius: 5px; 
}

/* Product page */

.product-image {
    max-height: 600px;
}

/* Buttons */

.forward-button {
    background-color: var(--green); 
    color: #fff;
}

.forward-button:hover {
    background-color: #fff;
    color: var(--green);
    border: 1px solid var(--green);
}

.back-button {
    background-color: var(--pink);
    color: #fff;
}

.back-button:hover {
    background-color: #fff;
    color: var(--pink);
    border: 1px solid var(--pink);
}

.update-button {
    background-color: var(--blue); 
    color: white;
}

.update-button:hover {
    background-color: #fff;
    color: var(--blue);
    border: 1px solid var(--blue);
}

.delete-button {
    background-color: var(--red);
    color: white;
}

.delete-button:hover {
    background-color: #fff;
    color: var(--red);
    border: 1px solid var(--red);
}

.home-page-button {
    background-color: var(--pink)
}

.home-page-button:hover {
    background-color: #fff;
    color: var(--pink);
    border: 1px solid var(--pink);
}

.home-page-button:hover i,
.home-page-button:hover span {
    color: var(--pink);
}

/* Basket */

.basket-table {
    border-collapse: separate;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #ddd;
}

.basket-img {
    max-width: 60px; /* Adjust size of images */
    height: auto;
    margin-right: 10px;
}

.success-container {
    width: 75%;
    margin-right: auto;
    border: 2px solid #000;
    border-radius: 5px;
}

/* Allauth */

#id_password_helptext {
    display: none;
}

.form-control {
    border-color: var(--grey);
}

/* Media queries */

@media screen and (max-width: 768px) {
    .home-image-container {
        margin: 0 auto; 
        max-height: 265px;
        width: 375px;
        overflow: visible; 
    }
    
    
    .home-image {
        max-height: 265px; 
        transform: scale(0.9); 
        animation: scaleBackground 3s ease-in-out forwards; 
        display: block; 
        object-fit: contain;
    }
}

@media screen and (max-width: 490px) {
    .home-image-container {
        margin: 0 auto; 
        max-height: 175px;
        width: 250px;
        overflow: visible; 
    }
    
    
    .home-image {
        max-height: 175px; 
        transform: scale(0.9); 
        animation: scaleBackground 3s ease-in-out forwards; 
        display: block; 
        object-fit: contain;
    }
}

@media screen and (max-width: 325px) {
    .home-image-container {
        margin: 0 auto; 
        max-height: 125px;
        width: 185px;
        overflow: visible; 
    }
    
    
    .home-image {
        max-height: 125px; 
        transform: scale(0.9); 
        animation: scaleBackground 3s ease-in-out forwards; 
        display: block; 
        object-fit: contain;
    }
}

