<footer class="text-center text-lg-start bg-dark bg-gradient mt-5">
    <div class="container d-flex justify-content-center py-4">
        <a href="" class="btn btn-lg btn-floating mx-2 home-page-button text-light">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="btn btn-lg btn-floating mx-2 home-page-button text-light">
            <i class="fab fa-youtube"></i>
        </a>
        <a href="" class="btn btn-lg btn-floating mx-2 home-page-button text-light">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="btn btn-lg btn-floating mx-2 home-page-button text-light">
            <i class="fab fa-twitter"></i>
        </a>
    </div>
    <div class="text-center text-white p-3">
        © 2024 Copyright:
        <a id="copyright-link" class="text-light" href="https://github.com/Cleg83" target="_blank"><span>M. Cleghorn</span></a>
    </div>
</footer>
