<footer class="footer text-center text-lg-start bg-dark bg-gradient mb-0">
    <div class="container d-flex justify-content-center py-4">
        <a href="https://www.instagram.com/sewcrafty2023/" aria-label="Instagram link" target="_blank" class="btn btn-lg btn-floating mx-2 home-page-button text-light">
            <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://www.etsy.com/uk/shop/AshSewCrafty?ref=shop_sugg_market" aria-label="Etsy link" target="_blank" class="btn btn-lg btn-floating mx-2 home-page-button text-light">
            <i class="fa-brands fa-etsy"></i>
        </a>
    </div>
    <div class="text-center text-white pt-0 pb-3">
        &copy; {% now "Y" %}
        <a id="copyright-link" aria-label="Link to site creator's GitHub profile" class="text-light" href="https://github.com/Cleg83" target="_blank"><span>M. Cleghorn</span></a>
    </div>
</footer>
