{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title_addition %} - Edit Product{% endblock %}

{% block content %}
<div class="container-fluid container-top-margin-lg content">
    <div class="row">
        <div class="col">
            <h2 class="text-dark text-uppercase">Edit Product</h2>
            <hr class="heading-rule">
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset>
                    <legend class="fieldset_label small bold-font mb-3 w-auto">Product Details</legend>
                    {{ form.name|as_crispy_field }}
                    {{ form.sku|as_crispy_field }}
                    {{ form.category|as_crispy_field }}
                    {{ form.description|as_crispy_field }}
                    {{ form.price|as_crispy_field }}
                    {{ form.image_url|as_crispy_field }}
                    {{ form.image|as_crispy_field }}
                    {{ form.in_stock|as_crispy_field }}
                </fieldset>

                <div class="mt-4">
                    <button type="submit" class="btn forward-button">Save Changes</button>
                    <a href="{% url 'manage_shop' %}" class="btn back-button ms-2">Cancel</a>
                </div>    
            </form>
            <div class="mt-4 mb-4">
                <h4 class="text-danger text-uppercase">Danger Zone</h4>
                <p>
                    <small class="text-danger">
                        Please consider whether deleting is necessary. 
                        Can you just mark the item as out of stock?
                    </small>
                </p>
                <form 
                    action="{% url 'delete_from_store' item_id=shop_item.id %}" 
                    method="POST" 
                    onsubmit="return confirm('Are you sure you want to mark this product as permanently unavailable?');">
                    {% csrf_token %}
                    <button type="submit" class="btn delete-button">Delete Product</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
