<div id="delivery-banner" class="row text-center">
    <div class="col {% if not on_shop_page %}bg-dark text-light{% else %}bg-light text-dark{% endif %}">
        {% if free_delivery_prompt == 0 %}
            <h4 class="my-1">You have qualified for free delivery!</h4>
        {% elif free_delivery_prompt == 1 %}
            <h4 class="my-1">Free delivery if you order {{ free_delivery_prompt }} more item!</h4>
        {% else %}
            <h4 class="my-1">Free delivery if you order {{ free_delivery_prompt }} more items!</h4>
        {% endif %}
    </div>            
</div>