<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header bg-success bg-opacity-50">
        <strong class="me-auto">Success!</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        <div class="row">
          <div class="col">
            {{ message }} 
          </div>
        </div>
          <div class="row">
            <div class="col">
            {% if grand_total and basket_items %}
              <hr>
              {% if not on_basket_page %}
                <a href="{% url 'view_basket' %}" class="btn btn-sm dark-button">
                  <span class="text-uppercase">View basket</span>
                </a>
              {% else %}
                <a href="{% url 'checkout' %}" class="btn btn-sm dark-button">
                  <span class="text-uppercase">Checkout</span>
                </a>
              {% endif %}
            {% else %}
              <hr>
              <a href="{% url 'shop' %}" class="btn btn-sm dark-button">
                <span class="text-uppercase">Shop</span>
              </a>
            {% endif %}
            </div>
          </div> 
      </div>
    </div>
  </div>